
#body_page{
  display: block;
  position: absolute;
  width: 100%;
//  border: 2px dotted red;
  margin: 0;
  padding:0;
  background-color:  $body_page_background_color;
  .container_items{
    padding: 10px;
    @include clearfix;
    .item{
        float:left;
        margin:0;
        @include grid(2,1%);

        p{
          display:block;
          font-family: tahoma;
          max-width:100%;
          background-color: $body_page_p_background_color;
          color:$body_page_p_text_color;
          border: 1px solid $body_page_p_border_color;
          padding:20px;
          margin:0;
          @include radius(12px);
          text-align: justify;
        }
      }
    }
}

@include break($small_screen_size){
  #body_page{
    .container_items{
      .item{
        @include grid(1,1%);
        p{
          background-color: $body_page_p_media_background_color;
          color:$body_page_p_media_color;
        }
      }
    }
  }
}
#main_page{
  padding: 0;
  .post_area{               //post_area
    //border-bottom: 1px solid black;
    margin-top:30px;
    &:first-child{margin-top:0;}
    .post_area_title{
      padding:15px;;
      margin:0 4px;
      background-color: $offwhite;
      box-shadow: 0 0 5px black;
      text-transform: capitalize;
      @include radius(10px);
      h2{
        margin: 0;
        color: $red;
        font-family: Lobster, 'cursive';
        font-size:20px;
      }
      @include break_big($small_screen_size){h2{font-size: 25px;}}
    }
    .post_area_body{
      //border-bottom: 1px solid $darkblue;
      p{
        margin:0;
        text-align: left;
        text-transform: capitalize;
        font-family: arial;
      }
    }
  }
}             //end of post_area

#side_bar{          //sidebar
  .side_list{
    ul{
      padding:5px;
      margin:0;
      h3{
        margin-top: 0;
      }
      li{
        list-style: none;
      }
    }
  }
}
