
header{
  width: 100%;
  height:auto;
  background-color: $nav_bkground;
  nav{
    padding: 10px;
    @include clearfix;
    .title{
      float:left;
      color:$title_text_color;
      margin:0 20px;
      font-family:'Lobster', cursive;
      font-size: 40px;

      h1{
        margin:0;
      }
    }
    .list{

      float: left;
      padding-left: 10px;
      li{
        display:inline-block;
        a{
          display: block;
          padding:10px;
          margin-left: 3px;
          background-color:$menu_background_color;
          color:$menu_text_color;
          text-align: center;
          text-decoration: none;
          transition: background-color .3s, color 1s ease-out ;
          &:hover {
            background-color: $menu_hover_color;
            color: $menu_hover_text_color;
          }
        }//a links
        .active{
          background-color: $menu_active_color;
          color:$menu_active_text_color;
          cursor: default;
          &:hover{
            background-color: $menu_active_color;
            color:$menu_active_text_color;
          }
        }
      }//li
    }//ul
  }//nav
}//header




//for devices 600px


@include break($small_screen_size){
    header{
      width: 100%;
      height:auto;
      background-color:$offwhite;
      nav{
        padding: 0;
        .title{
          width:100%;
          margin:0;
      //    border: 1px solid black;
          text-align: center;
        }//Title
        .list{
          display: none;
          width:100%;
    //      border: 1px solid red;
          margin-top: 0;
          padding: 0;
          li{
            &:nth-child(1){
              a{
                margin: 0;
              }
            }//child first
              &:last-child{
                a{
                  margin: 0;
                }
            }//last child
            display: block;
            width: 100%;
            margin: 0;
            padding:0;

            a{
              width:100%;
              margin:3px 0;
              }
          }// li 600px
        }//ul list
        .menu_btn{
          display: block;
          position: absolute;
          top: 0;
          left:0;
          padding-top: 3px;
          width:35px;
          height:35px;
          margin:8px;
          background-color: $nav_bkground;

          span{
            content: '';
            display: block;
            margin:5px auto;
            width:80%;
            height:3px;
            background-color: $red;
          }

          &:hover{
            background-color: $red;
            cursor: pointer;
            span{
              background-color: $orange;
            }

          &:active{
            background-color: $darkblue;
            cursor: pointer;
            span{
              background-color: $offwhite;
            }

          }
          }//btn-menu- hover

        }
          .list_on{
            display:block;
          }
          .list_off{
            display:none;
          }
      }//nav break 600px
    } //header 600px
}//break
