
header{
  width: 100%;
  height:auto;
  background-color: $nav_bkground;
  nav{
    padding: 10px;
    @include clearfix;
    .title{
      float:left;
    }
    ul{
      float: left;
      li{
        display:inline-block;
        a{
          display: block;
          padding:10px;
          margin-left: 3px;
          background-color:$red;
          color:$offwhite;
          text-align: center;
          text-decoration: none;
          transition: background-color .3s, color 1s ease-out ;
          &:hover {
            background-color: $orange;
            color: $darkblue;
          }

        }//a links

        .active{
          background-color: $darkblue;
          color:$offwhite;
          cursor: default;
          &:hover{
            background-color: $darkblue;
            color:$offwhite;
          }
        }
      }//li
    }//ul
  }//nav
}//header

@include break(600px){
    header{
      width: 100%;
      height:auto;
      background-color:rgba(255,255,255,0);
      nav{
        padding: 0;
        .title{
          width:100%;
          margin:0;
          border: 1px solid black;
          text-align: center;
        }//Title
        ul{
          width:100%;
          border: 1px solid red;
          margin-top: 0;
          padding: 0;
          li{
            &:nth-child(1){
              a{
                margin: 0;
              }
            }
              &:last-child{
                a{
                  margin: 0;
                }
            }
            display: block;
            width: 100%;
            margin: 0;
            padding:0;

            a{
              width:100%;
              margin:3px 0;
              }


          }// li 600px

        }//ul list
      }//nav break 600px
    } //header 600px
}//break
