
//-----------------------------
//settings
                            //fonts

  //font-family: 'Lobster', cursive;
  @import url('https://fonts.googleapis.com/css?family=Lobster');


                            //colors

  //color variables
  $offwhite:    #EEE8D6;
  $darkblue:    #022933;
  $yellow:      #FFBA00;
  $blue:        #0076A3;
  $green:       #548C27;
  $orange:      #F39856;
  $red:         #D14348;
  $purple:      #6D73C2;

  //size
  $big_screen_size:         1000px;
  $medium_screen_size:       600px;
  $small_screen_size:        600px;
                        //page colors settings

  $main_background:                 $offwhite;
  //header_settings
  $nav_bkground:                    $offwhite;
  $transparent :                    rgba(0,0,0,0);

  //nav_media_settings
  $header_background_media:         $offwhite;

  //title-settings
  $title_text_color:                $red;

  //menu_settings
  $menu_text_color:                 $offwhite;
  $menu_background_color:           $red;
  $menu_hover_color:                $orange;
  $menu_hover_text_color:           $darkblue;
  $menu_active_color:               $blue;
  $menu_active_text_color:          $yellow;

  //body_page color settings

  $body_page_background_color:      $offwhite;
  $body_page_p_background_color:    $nav_bkground;
  $body_page_p_text_color:          $darkblue;
  $body_page_p_border_color:        $darkblue;
        //600px screen
        $body_page_p_media_background_color:    $offwhite;
        $body_page_p_media_color:               $darkblue;

  //Carousel _ Settings
  $carusel_width:                   1000px;
  $carusel_height:                  600px;
  $carusel_btns_size:               50px;
  $carusel_btns_radius:             20%;
  $carusel_caption_color:           $offwhite;
  $carusel_dots_color:              $red;
  $carusel_dots_active_color:       $offwhite;

  //post area
  $post_area_title_color:           darken($offwhite,10%);
  $post_area_body_color:            lighten($red,30%);
  //footer settings
  $footer_columns_background_1:     lighten($red,20%);
  $footer_columns_background_2:     darken($offwhite,10%);
  $footer_columns_background_text:  $darkblue;
  $footer_copyright_background:     $offwhite;
