#carusel{ //general settings carousel
  position: relative;
  display: block;
  padding:0;
  max-width: $carusel_width;
  border: 3px solid black;
  max-height: $carusel_height;
  margin: 0 auto;
  .carusel_item{
    display: none;
    width:100%;
  //  border: 1px solid red;
    margin: 0 auto;
    &:first-child {
      display: block;
    }
  }
}
#carusel{  //buttons next previous
  .carusel_item_right_btn, .carusel_item_left_btn{
    display: block;
    position: absolute;
    top: calc(50% - 27px);
    width:$carusel_btns_size ;
    height:$carusel_btns_size;
    background-color: $darkblue;
    border: 2px solid $offwhite;
    z-index: 2;
    color: $offwhite;
    margin:0;
    @include radius($carusel_btns_radius);
    text-align: center;
    padding:13px 11px;
    cursor: pointer;
    opacity: .6;
    transition: .4s , letter-spacing 0s;
    span{
      margin:0;
    }
    &:hover{
      background-color: $red;
      letter-spacing: 8px;
    }
    &:active {
      background-color: $blue;
      color:$offwhite;
      letter-spacing:0;
    }
  }
  .carusel_item_right_btn{
    right:20px;
  }
  .carusel_item_left_btn{
    left:20px;
  }
  @include break($small_screen_size){ // media query
    .carusel_item_right_btn, .carusel_item_left_btn{
      background-color: $darkblue;
      border-radius:20px;
      top: 4px;
      width:30px;
      height:30px;
      font-size: 10px;
      padding:5px 0;
      &:hover,&:active {letter-spacing: 0;}
      }
      .carusel_item_right_btn{
        left:43px;
      }
      .carusel_item_left_btn{
        left:10px;
    }
    .carusel_item_caption{
        font-size: 9px;
        bottom:1px;
    }
  }
}
#carusel{ //caption
  .carusel_item_caption{
    display: none;
    position: absolute;
    bottom:10px;
    width:100%;
    color:$carusel_caption_color;
    text-align: center;
    text-shadow: 0 0 5px black;
    text-transform: capitalize;
    z-index: 2;
    h1{
      margin: 0;
    }
  }
}
#carusel_list{  // dots styling
    display: block;
    position: absolute;
    bottom: 3px;
    left: 20px;
    color:$carusel_dots_color;
    z-index: 2;           //z-index: 2
    padding: 0;
    @include clearfix;
    li{
      display:inline-block;
      float:left;
      div{
        background-color:$carusel_dots_color;
        border:1px;
        width: 10px;
        height:10px;
        border-radius: 50%;
        border: 1px solid $darkblue;
      }
    }
    .carusel_list_active{ //selected dot
      background-color: $carusel_dots_active_color;
    }
  }
#carusel{
  .carusel_gradient{
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.6;
    z-index: 1;
    margin: 0;
    padding: 0;
    background: linear-gradient(0,black,$transparent 20%);
  }
}
#carusel_background{
  position: absolute;
  display: block;
  padding:0;
  width:100%;
  //border: 3px solid black;
  height: $carusel_height;
  margin: 0;
  z-index:-1;
  filter:blur(9px);
}
