*{
  box-sizing: border-box;
}

html,body{
  margin:0;
  padding:0;
}

header{
  margin: 0;
  padding: 0 10px;
  width:100%;
  background-color: $yellow;

  nav{
    padding:10px;
    @include clearfix;
  .title {
    margin:10px auto;
    float: left;
    color: $offwhite;
    text-shadow: 0 0 5px $red;
    h1{
      margin:0;
    }
  }
  .list {
    display: block;
    margin:10px;
    float: left;
    li {
      display: inline-block;
      list-style: none;

      a{
        display: block;
        margin-left: 5px;
        padding: 10px;
        background-color:$red;
        text-decoration: none;
        color: $offwhite;
        &:hover {
          background-color: $orange;
          color: $blue;
        }
        &:active{
          background-color: $darkblue;
          color: $yellow;
        }
      }//a links 


      }//li

    }//list
  }//nav

}//header
